/SobelFilterApp/.idea
/SobelFilterApp/SobelFilterApp/bin
/SobelFilterApp/SobelFilterApp/obj

/SobelFilterAppCSharp/.idea
/SobelFilterAppCSharp/SobelFilterAppCSharp/bin
/SobelFilterAppCSharp/SobelFilterAppCSharp/obj
