@{
    ViewData["Title"] = "Фильтр Собеля";
}
<script src="~/script.js" defer></script>

<div id="spinner" style="opacity: 0.9; position: fixed; z-index: 20000; height: 100%; width: 100%; top: 0; left: 0; background: #aaa; background: rgba(0,0,0,0.2);">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%; position: absolute; z-index: 10;">
        <div class="spinner-border text-success" role="status"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center" style="margin-bottom: 50px">
            <h1>Фильтр Собеля</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center" style="margin-bottom: 30px">
        <input id="file-input" type="file" class="form-control mb-2"/>
        <div class="row d-flex justify-content-center">
            <div id="preview-image-container"></div>
        </div>
        <button class="btn btn-outline-success mt-2" type="button" id="send-button">Обработать</button>
    </div>
    <div class="row d-flex justify-content-center" id="result-image-container"></div>
</div>